# config file
# shouldn't be checked in because of path names
###############
.cproject
.project

# hidden files
##############
.*

# object files
##############
*.o
*.d

# OS Files
###########
Thumbs.db
Icon?
.DS_Store*
